@model NETB401PavelBorisov.Models.Cpe

<h2>Details</h2>

<div>
    <h4>Cpe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriberEmails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriberEmails)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>